In [17]:
from bs4 import BeautifulSoup
from selenium import webdriver
import requests
import json
from selenium import webdriver
import time
import csv
import pandas as pd

In [49]:
#중복제거
# csv 파일 불러오기
df_A = pd.read_csv("C:\\python\\aladin_review.csv") # 'your_file.csv'를 실제 파일 경로와 이름으로 바꿔주세요.
df_B = pd.read_csv('null_utf8_2.csv')

In [50]:
df_B.shape

(56409, 7)

In [51]:
df_B = df_B.drop_duplicates(subset=['revwNum'], keep='first', encoding = 'utf-8', inplace=True)

TypeError: DataFrame.drop_duplicates() got an unexpected keyword argument 'encoding'

In [52]:
df_B.shape

(56409, 7)

In [53]:
print(df_A.columns)
print(df_B.columns)

Index(['isbn', 'title', 'review_rating', 'review_like_count', 'review_comment',
       'paper_id'],
      dtype='object')
Index(['ISBN', 'saleCmdtid', 'cmdtName', 'revwNum', 'revwCntt', 'revwScore',
       'reviewRecommendCount'],
      dtype='object')

In [54]:
reviews_all_list.rename(columns={'cleaned_review_comment': 'review_comment'}, inplace=True)

NameError: name 'reviews_all_list' is not defined

In [55]:
#new_column_names2 = ['review_id','review_like_count','isbn', 'scnid','title','comment','review_score']

In [56]:
new_column_names2 = ['isbn', 'saleCmdtid', 'title', 'review_id', 'comment','review_score','review_like_count'  ]

In [57]:
df_B.columns = new_column_names2

In [58]:
df_B.head(5)

,isbn,saleCmdtid,title,review_id,comment,review_score,review_like_count
0,9.791190e+12,S000001938499,1cm 다이빙,5415919,나 자신이 행복한 법에 대해 고민해 볼 수 있는 책이었습니다.\r\n책을 읽고 행복...,10,62
1,9.791190e+12,S000001938499,1cm 다이빙,5416113,글귀가 마음에 와 닿아요,10,60
2,9.791190e+12,S000001938499,1cm 다이빙,5416037,나름 젊은이가 쓴 나름 조숙한 이야기 \r\n가볍게 읽다 울뻔? 울었다,10,58
3,9.791190e+12,S000001938499,1cm 다이빙,5416101,배송받고 하루만에 다읽었어요 매우공감되고 와닿는말이 많았어요 읽고나니 위로가되는책이...,10,56
4,9.791190e+12,S000001938499,1cm 다이빙,5416004,잘읽혀서 한번에읽었어요. 두고두고 복잡할때 읽을까해요,10,55

In [59]:
# new_column_names1 = ['title', 'isbn', 'review_id', 'review_score','review_like_count','reviewer','comment']

In [60]:
new_column_names1 = [ 'isbn','title','review_score', 'review_like_count','comment','review_id']

In [61]:
df_A.columns = new_column_names1

In [62]:
print(df_A.columns)
print(df_B.columns)

Index(['isbn', 'title', 'review_score', 'review_like_count', 'comment',
       'review_id'],
      dtype='object')
Index(['isbn', 'saleCmdtid', 'title', 'review_id', 'comment', 'review_score',
       'review_like_count'],
      dtype='object')

In [ ]:
df_A['review_id'] = df_A['review_id'].astype(str) + '_1'
df_B['review_id'] = df_B['review_id'].astype(str) + '_2'

In [63]:
df_all = pd.concat([df_B, df_A],ignore_index=True)
df_all.head()

,isbn,saleCmdtid,title,review_id,comment,review_score,review_like_count
0,9.791190e+12,S000001938499,1cm 다이빙,5415919,나 자신이 행복한 법에 대해 고민해 볼 수 있는 책이었습니다.\r\n책을 읽고 행복...,10,62
1,9.791190e+12,S000001938499,1cm 다이빙,5416113,글귀가 마음에 와 닿아요,10,60
2,9.791190e+12,S000001938499,1cm 다이빙,5416037,나름 젊은이가 쓴 나름 조숙한 이야기 \r\n가볍게 읽다 울뻔? 울었다,10,58
3,9.791190e+12,S000001938499,1cm 다이빙,5416101,배송받고 하루만에 다읽었어요 매우공감되고 와닿는말이 많았어요 읽고나니 위로가되는책이...,10,56
4,9.791190e+12,S000001938499,1cm 다이빙,5416004,잘읽혀서 한번에읽었어요. 두고두고 복잡할때 읽을까해요,10,55

In [64]:
print(len(df_all), len(df_A), len(df_B))

161727 105318 56409

In [65]:
df_all.to_csv('ak_reviews2_utf8.csv', encoding='utf8', index = False)

In [66]:
df_all.head(5)

,isbn,saleCmdtid,title,review_id,comment,review_score,review_like_count
0,9.791190e+12,S000001938499,1cm 다이빙,5415919,나 자신이 행복한 법에 대해 고민해 볼 수 있는 책이었습니다.\r\n책을 읽고 행복...,10,62
1,9.791190e+12,S000001938499,1cm 다이빙,5416113,글귀가 마음에 와 닿아요,10,60
2,9.791190e+12,S000001938499,1cm 다이빙,5416037,나름 젊은이가 쓴 나름 조숙한 이야기 \r\n가볍게 읽다 울뻔? 울었다,10,58
3,9.791190e+12,S000001938499,1cm 다이빙,5416101,배송받고 하루만에 다읽었어요 매우공감되고 와닿는말이 많았어요 읽고나니 위로가되는책이...,10,56
4,9.791190e+12,S000001938499,1cm 다이빙,5416004,잘읽혀서 한번에읽었어요. 두고두고 복잡할때 읽을까해요,10,55